<div align="center" style="position:relative;">
    <input type="text" name="gifSearch" ng-model="Phrase" ng-minlength="3" ng-maxlength="100" ng-pattern="/[a-zA-Z+^ ]/" ng-trim="false" class="txtBox" required></input>
    &nbsp;&nbsp;
    <input type="button" ng-click="GifSearch()" value="Submit"></input>
    <div role="alert">
        <span class="error" ng-show="myForm.input.$error.required">
            Required!
        </span>
        <span class="error" ng-show="myForm.input.$error.number">
            Not valid number!
        </span>
    </div>
</div>
<br /> 

<div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="gif in giphys">
        <a href="#" class="thumbnail">
            <img ng-src="{{gif && gif.fxHiStillImgUrl ||''}}" class="gifimg" ng-mouseover="hover()" ng-mouseleave="leave()"></img>
        </a>
    </div>
</div>